 body { 
      background-color: #000000;
      color: #ffffff             
    }
    a {
      text-decoration: none
    }
    x {
      font-size: 6px
    }
    test {
      font-size: 23px
    }
    h2 {
      font-size: 19px
    }
    bit {
      font-size: 19px;
      color: #b90000
    }
    herst {
      font-size: 19px;
      color: #b90000
    }
    sand {
      font-size: 19px;
      color: #b90000
        
    }
    hr {
      height: 2px;
      background-color: #ff0000;
      border: none;
    }
    about {
      font-size: 6px
    }
